<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
</head>
<body>
<form>
    机型
    <input type="text" name="machineName">
    <br>

    日期
    <input type="text" name="workDate">
    <br>

    工作地点
    <input type="text" name="workPlace">
    <br>

    开始时间
    <input type="text" name="startTime">
    <br>

    结束时间
    <input type="text" name="endTime">
    <br>

    工作时长
    <input type="text" name="workHours">
    <br>

    单价
    <input type="text" name="unitPrice">
    <br>

    板车费
    <input type="text" name="flatcarFee">
    <br>

    合计金额
    <input type="text" name="totalSum">
    <br>

    备注
    <input type="text" name="other">
    <br>

</form>
</body>
</html>
